[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
tk = "*"

[packages]
menpo = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
sympy = "*"
tkinter = "*"

[requires]
python_version = "3.7"
